
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Montserrat', sans-serif;;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  box-sizing: border-box;
  margin: 0;
  font-size: 1.7rem;
  scroll-behavior: smooth;
}
.backgroundTransition {
  background-image: url("/app/images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.dayBg {
  background-image: url("/images/18.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.resBg {
  background-image: url("/images/20.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
button {
  border: 1px solid #005753;
  font-size: larger;
  margin: 15px;
  padding: 10px;
}
a,
section ul li {
  text-decoration: none;
  list-style-type: none;
}
section ul li {
  text-align: center;
  font-size: 2rem;
}
h2 {
  margin-top: 200px;
  color: #ffffff;
  background-color: rgba(8, 8, 8, 0.7);
  padding-left: 10px;
  text-align: center;
  font-weight: 600;
  height: auto;
  padding-top: 40px;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}
.menu {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #ffffff;
  border-radius: 5px;
}
.services {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
.services > a,
.services > a:visited {
  text-decoration: none;
  color: #005753;
  font-weight: 700;
}
.services > a:hover {
  color: #b8ddb1;
}
.day, main, .bullet {
  background-color: #d9ecec !important;
}
.residential {
  background-color: #ffffff;
}
main > div > p,
main > h3,
.bullet {
  color: #005753 !important;
}
.about {
  color: #d9ecec;
  background-color: #005753;
}
.dropbtn {
  cursor: pointer;
}
/* .dropbtn:hover, .dropbtn:focus {
  background-color: #005753;
} */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(8, 8, 8, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  transition:height 200ms ease-in;
}
.dropdown-content a {
  color: #ffffff;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  transition:height 200ms ease-in;
}
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.show {
  display:block;
}
#download {
  background-color: transparent;
  border: 1px solid #005753;
  border-radius: 5px;
}
#download:hover {
  background-color: #005753;
  color: #ffffff;
}
address {
  padding: 25px 10px;
  font-size: 1.7rem;
}
address,
address a {
  color: #005753;
}
footer {
  height: 300px;
  background-color: #005753;
  color: #d9ecec;
  padding: 20px;
}
footer a {
  color: #D9ECEC;
}
.footerDayRes {
  background-color: #D9ECEC !important;
  color: #005753 !important;
}
.footerDayRes a {
  color: #005753 !important;
}

@media only screen and (max-width: 320px) {
  h2 {
    padding-top: 30px;
    height: 200px;
  }
  nav {
    float: right;
  }
  nav a,
  button {
    padding: 10px;
    color: #FFF;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    padding-top: 20px;
  }
  header > a > img {
    height: 90px;
    padding-left: 10px;
  }
  .about,
  main {
    padding: 10px 5px;
  }
  nav {
    float: right;
  }
  nav a,
  button {
    padding: 10px;
    color: #FFF;
  }
  nav a:hover,
  button:hover {
    background-color: #D9ECEC;
    color: #005753;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  p {
    padding-left: 10px;
    max-width: 90%;
  }
}

@media only screen and (min-width: 376px) {
  h2 {
    padding-top: 20px;
  }
  header > a > img {
    height: 90px;
    padding-left: 10px;
  }
  .about,
  main {
    padding: 10px 5px;
  }
  nav {
    float: right;
  }
  nav a,
  button {
    padding: 10px;
    color: #FFF;
  }
  nav a:hover,
  button:hover {
    background-color: #D9ECEC;
    color: #005753;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  p {
    padding-left: 10px;
    max-width: 90%;
  }
}

@media (max-width: 767px) and (min-width: 426px) {
  h2 {
    padding-top: 20px;
  }
  header > a > img {
    height: 90px;
    padding-left: 10px;
  }
  .about,
  main {
    padding: 10px 5px;
  }
  nav {
    float: right;
  }
  nav a,
  button {
    padding: 10px;
    color: #FFF;
  }
  nav a:hover,
  button:hover {
    background-color: #D9ECEC;
    color: #005753;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  p {
    padding-left: 10px;
    max-width: 90%;
  }
  .day {
    width: 100%;
    background-image: url('/images/day\ link\ bg.jpg');
    background-size: auto;
    background-position: 42% 0px;
    border-left: 1px solid #d9ecec;
  }
  .residential {
    width: 100%;
    background-image: url('/images/re\ link\ bg.jpg');
    background-size: auto;
    background-position: 42% 0px;
    border-left: 1px solid #d9ecec;
  }
  .day a,
  .residential a {
    background-color: #d9ecec;
    padding: 3px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  h2 {
    padding-top: 20px;
    max-width: 600px;
    margin-left: 75px;
  }
  header > a > img {
    height: 90px;
    padding-left: 10px;
  }
  .about,
  main {
    padding: 20px 5px;
  }
  nav {
    float: right;
  }
  nav a,
  button {
    padding: 10px;
    color: #FFF;
  }
  nav a:hover,
  button:hover {
    background-color: #D9ECEC;
    color: #005753;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
  }
  p {
    padding-left: 15%;
    max-width: 70%;
  }
  .selection {
    display: flex;
  }
  .day {
    width: 49%;
    background-image: url('/images/day\ link\ bg.jpg');
    background-size: auto;
    background-position: 42% 0px;
    background-repeat: no-repeat;
    border-left: 1px solid #d9ecec;
  }
  .residential {
    width: 49%;
    background-image: url('/images/re\ link\ bg.jpg');
    background-size: auto;
    background-position: 42% 0px;
    background-repeat: no-repeat;
    border-left: 1px solid #d9ecec;
  }
  .day a,
  .residential a {
    background-color: #d9ecec;
    padding: 3px;
  }
}

@media only screen and (min-width: 1024px) {
  h2 {
    margin-top: 300px;
    font-size: 5rem;
    margin-left: 150px;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 2rem;
  }
  .residential,
  .day {
    background-repeat: repeat;
    width: 50%;
  }
  .services {
    height: 150px;
    line-height: 150px;
  }
}